@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.1s;
}

:root {
    --headerFont: "Special Gothic Expanded One", "times new roman";
    --bodyFont: "roboto", "times new roman";
    font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headerFont);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

section {
    padding-block: 50px;
}

.gradient_text {
    background: linear-gradient(to right, var(--text), var(--accent));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;

}

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;

    & .headShot {
        max-width: 100vw;
        width: 300px;
        border-radius: 10px;
        box-shadow: var(--shadows);
    }


    & #heroBg {
        position: absolute;
        z-index: -100;
        width: 100vw;
        height: 100%;
    }
}

#colorSwitch {
    z-index: 10000;
    position: absolute;
    font-size: 1.5em;
    color: var(--text);
    padding: 5px;

    &:hover {
        color: var(--accent);
    }
}

.section_title {
    text-align: center;
}

.hidden {
    display: none;
}


@media (max-width: 777px) {
    .hero_section {
        height: 700px;
        flex-flow: column-reverse;
        text-align: center;
    }
}