@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.1s;
}

:root {
    --headerFont: "Special Gothic Expanded One", "times new roman";
    --bodyFont: "roboto", "times new roman";
    font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headerFont);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

section {
    padding-block: 50px;
}

.gradient_text {
    background: linear-gradient(to right, var(--text), var(--accent));
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;

}

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;

    & .headShot {
        max-width: 100vw;
        width: 300px;
        border-radius: 10px;
        box-shadow: var(--shadows);
    }


    & #heroBg {
        position: absolute;
        z-index: -100;
        width: 100vw;
        height: 100%;
    }
}

#colorSwitch {
    z-index: 10000;
    position: absolute;
    font-size: 1.5em;
    color: var(--text);
    padding: 5px;

    &:hover {
        color: var(--accent);
    }
}

.section_title {
    text-align: center;
    margin: 10px;
}



.skillsContainer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.gridSection .skillCircle {
    width: 200px;
    height: 200px;
    background-color: var(--text);
    border-radius: 100%;
    filter: blur(4em);
    position: absolute;
    z-index: -12;
}

.skillItem {
    background-color: var(--panel);
    padding: 10px;
    z-index: 10;
    width: 200px;
    text-align: center;
    position: relative;
    transition: outline 1s;
    outline: 2px solid transparent;

    &:hover {
        outline: 2px solid var(--text);
    }
}

.skillItemBg {
    padding: 2px;
    border: 5px solid var(--bg);
    background-color: transparent;
    width: max-content;
}

.gridSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: -100;
    position: inherit;
}

.btn {
    padding-inline: 10px;
    padding-block: 5px;
    text-decoration: none;
    display: inline-block;
    margin-block: 5px;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-3px);
    }
}

.btn-main {
    background-color: var(--accent);
    color: var(--bg);
}

.hidden {
    display: none;
}





@media (max-width: 777px) {
    .hero_section {
        height: 700px;
        flex-flow: column-reverse;
        text-align: center;
    }

    .skillsContainer {
        margin-inline: 0;
    }

    .skillsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .skillsContainer {
        grid-template-columns: 1fr;
    }
}