@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Voces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

:root {
    --background: #060606;
    --text: #f1f1f1;
    --outline: #151515;
    --textOutline: #e4e4e4;
    --primary: #a32ef7;
    --accent: #5e00a5;
    --headerFont: "Footlight MT Light", impact, Voces;
    --bodyFont: "Open Sans", impact;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--bodyFont);
}

/* SETTING PAGE DEFAULTS AND STYLES */
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headerFont);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

/* 16px */

h1 {
    font-size: 5.652rem;
    /* 90.4px */
}

h2 {
    font-size: 3.997rem;
    /* 64px */
}

h3 {
    font-size: 2.827rem;
    /* 45.28px */
}

h4 {
    font-size: 1.999rem;
    /* 32px */
}

h5 {
    font-size: 1.414rem;
    /* 22.56px */
}

small {
    font-size: 0.707rem;
    /* 11.36px */
}

#mobileFooter {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    font-family: Poppins, impact;
    font-weight: 500;
    font-size: 0.8em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000000;
    padding-block: 0.5em;
    margin: 0;
    transition: all 0.6s;
    backdrop-filter: blur(5px);
    background-color: rgba(108, 108, 108, 0.027);
    border-block-end: 1px solid rgba(163, 163, 163, 0.13);
    text-align: center;
}

/* #desktop-header {
}

#desktop-header-placeholder {
    border-block-end: 1px solid transparent;
    background-color: none;
} */

header>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    user-select: none;
}

header li {
    width: 100px;
}

header a {
    color: var(--text);
    text-decoration: none;
    transition: all 0.6s;
}

header a:hover {
    color: var(--primary);
}

/* MAIN */
main {
    min-height: 100vh;
}

/* MOBILE FOOTER */
#mobileFooter ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

#mobileFooter a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#mobileFooter {
    user-select: none;
    padding-block: 1em;
    border-block-start: 1px solid var(--outline);
    font-family: Poppins, impact;
    background-color: var(--background);
    position: fixed;
    width: 100%;
    bottom: 0;
}

#mobileFooter li {
    min-width: 75px;
}

/* FOOTER */
footer {
    font-family: Poppins, impact;
    display: flex;
    justify-content: space-evenly;
    border-block-start: 1px solid var(--outline);
    padding-block: 1em;
}

footer>ul {
    list-style: none;
    user-select: none;
}

footer a {
    color: var(--text);
    text-decoration: none;
    transition: all 0.6s;
}

footer a:hover {
    color: var(--primary);
}

/* HERO SECTION */
#heroSection {
    text-align: center;
    min-height: 55vh;
}

#heroSection img {
    width: 100vw;
    margin-block-start: 5em;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#heroSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99vw;
    height: 120vh;
    background: radial-gradient(rgb(163, 46, 500), rgba(163, 46, 247, 0.150) 20%);
    filter: blur(10em);
    z-index: -1;
}

#heroSection>* {
    z-index: 1;
}

/* ABOUT SECTION */
#aboutSection {
    background-color: var(--background);
    border-block-start: 1px solid var(--outline);
    margin-block-start: 3.5em;
}

#aboutSection>h2 {
    text-align: center;
    margin-block-start: 1em;
}

#aboutSectionContent>* {
    background: radial-gradient(circle 300px at 50% 0%, var(--outline), var(--outline));
    border-radius: 5px;
    transition: all 1s;
    animation: outlineGradient 0.5s ease;
}
#aboutSectionContent>*>* {
    width: 25vw;
    height: 25vw;
    margin: 0.1em;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--background);
    transition: all 1s;
    backdrop-filter: blur(0);
    overflow: hidden;
}

#aboutSectionContent>*:hover{
    background: radial-gradient(circle 300px at 50% 0%, var(--primary), var(--outline));
}
#aboutSectionContent>*:hover>* {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(100px);
}

#aboutSectionContent {
    display: flex;
    justify-content: center;
    gap: 1em;
    transition: all 1s;
    margin-block: 2em;
}
#aboutSection small {
    width: 100vw;
    text-align: center;
    color: var(--textOutline);
}
.aboutSectionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: all 0.6s;
    position: relative;
}
.aboutSectionCard p {
    margin-block: 0.3em;
}
.aboutSectionCard p:nth-of-type(1) {
    font-size: 4em;
    font-family: var(--headerFont);
    transition: all 0.6s;
    transform: translateY(1em);

}
.aboutSectionCard p:nth-of-type(2),.aboutSectionCard p:nth-of-type(3) {
    font-size: 1.1em;
    transition: all 0.6s;
    line-height: 1.5em;
}
.aboutSectionCard p:nth-of-type(2),.aboutSectionCard p:nth-of-type(3) {
    opacity: 0;
}
.aboutSectionCard p:nth-of-type(2) {
    color: gray;
    font-size: 0.8em;
}
.aboutSectionCard:hover p:nth-of-type(2),.aboutSectionCard:hover p:nth-of-type(3) {
    opacity: 1;
    transform: translateY(-1em);
}
.aboutSectionCard:hover p:nth-of-type(1) {
    font-size: 4em;
    transform: translateY(0em);
    color: var(--primary);
}
.hoverIndicator {
    color: gray;
    text-align: center;
    font-size: 0.7em;
}

/* UNIVERSAL CLASSES */
.ctaButtonBorder {
    background: radial-gradient(circle 110px, rgb(86, 0, 162), rgba(23, 23, 23, 0));
    border-radius: 8px;
    border: none;
    width: 15em;
    transition: all 0.6s;
    user-select: none;
}

.ctaButtonContent {
    color: var(--text);
    z-index: 1;
    background-color: var(--background);
    margin: 0.1em;
    padding-inline: 1em;
    padding-block: 0.3em;
    border-radius: 6px;

}

.ctaButtonArea {
    display: flex;
    justify-content: center;
}

.ctaButtonBorder:hover {
    transform: translateY(-10px);
    animation-name: buttonHoverAnimation;
    animation-duration: 0.3s;
    background: radial-gradient(circle 110px, rgb(86, 0, 162), rgb(86, 0, 162));
}

.currentSection {

    color: var(--primary);
}

#loading {
    text-align: center;
    transform: translateY(40vh);
}

.hidden {
    display: none;
}

@media (max-width:1000px) {
    #mobileFooter {
        display: block;
    }

    footer {
        display: none;
    }

    header {
        display: none;
    }

    #aboutSectionContent {
        justify-content: center;
        flex-wrap: wrap;
    }

    #aboutSectionContent>* {
        margin: 1em;
    }
    #aboutSectionContent>*>* {
        width: 90vw;
        height: 15em;
        margin: 0.1em;
    }
}

@media (max-width: 500px) {
    .removeWhenTooSmall {
        display: none;
    }
}

@keyframes buttonHoverAnimation {
    0% {
        background: radial-gradient(circle 110px, rgb(86, 0, 162), rgba(86, 0, 162, 0.0));
    }

    25% {
        background: radial-gradient(circle 110px, rgb(86, 0, 162), rgba(86, 0, 162, 0.25));
    }

    50% {
        background: radial-gradient(circle 110px, rgb(86, 0, 162), rgba(86, 0, 162, 0.5));
    }

    75% {
        background: radial-gradient(circle 110px, rgb(86, 0, 162), rgba(86, 0, 162, 0.75));
    }

    100% {
        background: radial-gradient(circle 110px, rgb(86, 0, 162), rgba(86, 0, 162, 1));
    }
}
@keyframes outlineGradient {
    0% {
        background: radial-gradient(circle 300px at 50% 0%, var(--outline), var(--outline));
    }
    100% {
        background: radial-gradient(circle 300px at 50% 0%, var(--primary), var(--outline));
    }
}
/* FIXING GITHUV CAUSE ITS NOT LOADING FONTS>????? */